*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Roboto Mono', monospace;
	background-color: #75A7A3;
}

#status{
	/* background-color: lightskyblue; */
	width: 100%;
}

.score{
	font-size: 30px;
	text-align: center;
	height: 20%;
	margin-bottom: 20px;
	position: relative;
	left: 335px;
	background-color: lightcoral;

}

.status{
	font-size: 20px;
	position: relative;
	left: 200px;
	margin: 0px 0 10px 0;
}


main{
	height: 100vh;
	width: 100vw;
	/* background-color: #8bcdcd; */
	display: flex;
	align-items: center;
	justify-content: center;
	/* flex-direction: column; */
}

.container{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	/* height: 70%;
	width: 90%; */
}

.grid{
	display: flex;
	flex-wrap: wrap;
	height: 700px;
	width: 900px;
}

img{
	margin: 10px;
	transition-duration: 1s;
	border-radius: 13px;
	box-shadow: 5px 10px #888888;
}


img:hover{
	transform: scale(1.1);
	
}

.red{
	color: #f25f5c;
}


