*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}

main{
	height: 100vh;
	width: 100%;
	/* background-color: lightpink; */
	background-color: #e0e0e0;
}

.contents{
	width: 100%;
	height: 90%;
	/* background-color: lightblue; */
}

.right{
	/* background-color: lightcoral; */
	height: 80vh;
}

.illustration{
	position: absolute;
	top : 150px;
}
.left{
	/* background-color: lightseagreen; */
	height: 80vh;
}

.text{
	height: 90%;
	width: 80%;
	border-radius: 16px;
	background: #e0e0e0;
	box-shadow:  19px 19px 48px #acacac,-19px -19px 48px #ffffff;
	transition-duration: 300ms;
	position: relative;
}

.text:hover{
	box-shadow:none;
}

.heading{
	letter-spacing: 10px;
	font-size: 50px;
}

.input-boxes{
	/* background-color: lightcyan; */
}

form {
	/* background-color: lightslategrey; */
	height: 60%;
	position: absolute;
	bottom : 100px;
}

.input-box{
	border-radius: 60px;
/* background: #e0e0e0;
box-shadow:  24px -24px 49px #bebebe,-24px 24px 49px #ffffff; */
border-radius: 36px;
/* background: #e0e0e0; */
/* box-shadow:  24px -24px 49px #bebebe,
			 -24px 24px 49px #ffffff; */
			 background: #e0e0e0;
			 box-shadow:  19px 19px 48px #acacac,-19px -19px 48px #ffffff;
	width: 90%;
	height: 40px;
	margin: 20px;
	padding: 10px;
}

/* input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


input[type=number] {
  -moz-appearance: textfield;
} */

::placeholder{
	font-size: 15px;
	position: absolute ;
	left: 50px;
	padding: 0 0 0 20px;
}

.submit-btn{
	border-radius: 30px;
	background: #e0e0e0;
	box-shadow:  19px 19px 48px #acacac,-19px -19px 48px #ffffff;

	padding : 10px 30px;
}

.input-box:hover{
	box-shadow: none;
}
.submit-btn:hover{
	box-shadow: none;
}

#result{
	position: absolute;
	bottom: 100px;
}