*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
	background-color: #e6e7ee;
}

main{
	height: 95vh;
	width: 100%;
	background-color: #e6e7ee;
}

.contents{
	width: 100%;
	height: 90%;
	/* background-color: lightblue; */
}

.right{
	/* background-color: lightcoral; */
	height: 80vh;
}

.illustration{
	position: absolute;
	top : 150px;
}
.left{
	/* background-color: lightseagreen; */
	height: 80vh;
}

.text{
	height: 90%;
	width: 80%;
	/* background: #e0e0e0;
	box-shadow:  19px 19px 48px #acacac,-19px -19px 48px #ffffff; */
	background-color: #e6e7ee;
border-radius: 30px;
box-shadow: 7px 7px 14px #cbced1,
            -7px -7px 14px #fff;
	transition-duration: 300ms;
	position: relative;
}

.text:hover{
	box-shadow:none;
}

.heading{
	letter-spacing: 10px;
	font-size: 50px;
}

.input-boxes{
	/* background-color: lightcyan; */
}

form {
	/* background-color: lightslategrey; */
	height: 60%;
	position: absolute;
	bottom : 150px;
}

.input-box{

/* background: #e0e0e0;
box-shadow:  24px -24px 49px #bebebe,-24px 24px 49px #ffffff; */

/* background: #e0e0e0; */
/* box-shadow:  24px -24px 49px #bebebe,
			 -24px 24px 49px #ffffff; */	
	background-color: #e6e7ee;
	border-radius: 30px;
	box-shadow: 7px 7px 14px #cbced1,
				-7px -7px 14px #fff;
	width: 90%;
	height: 40px;
	margin: 20px;
	padding: 10px;
	border: none;
}

/* input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


input[type=number] {
  -moz-appearance: textfield;
} */

::placeholder{
	font-size: 15px;
	position: absolute ;
	left: 50px;
	padding: 0 0 0 20px;
	color : #303030;
}

.submit-btn{
	background-color: #e6e7ee;
	border-radius: 30px;
	box-shadow: 7px 7px 14px #cbced1,
				-7px -7px 14px #fff;
	border: none;	
	padding : 10px 30px;
}

.input-box:hover{
	box-shadow: none;
}
.submit-btn:hover{
	box-shadow: none;
}

#result{
	position: absolute;
	bottom: 100px;
}

.option{
	
	height: 80px;
	width: 300px;
	background-color: #e6e7ee;
	border-radius: 30px;
	box-shadow: 7px 7px 14px #cbced1,
				-7px -7px 14px #fff;
	display: flex;
	align-items: center;
	justify-content: space-around;
	position: relative;
	bottom: 50px;
}


input[type = "radio"]{
	display: none;
}
label{
	font-size: 18px;
	padding: 15px 25px;
	font-weight: 600;
	color: #303030;
	border-radius: 55px;
}

input[type = "radio"]:checked + label{
	background-color: #e6e7ee;
	border-radius: 30px;
	box-shadow: 7px 7px 14px #cbced1,
				-7px -7px 14px #fff;
}

.bottom{
	height: 2vh;
	background-color: #e6e7ee;
	font-size: 18px;
}

a{
	color : #303030;
}