*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}

/* Entire container */
.container{
	height: 100vh;
	width: 100vw;
	/* background-color: lightgreen; */
	background: linear-gradient(-130deg, #5d60eb 50%, #fc7476 50%);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

/* ToDo list container */
.todo-container{
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #fff;
	justify-content: center;
	width: 30%;
	overflow:auto;
	max-height: 400px;
}

/* Entry Item into the todo list */
#add-item{
	width: 100%;
	/* background-color: lightslategrey; */
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	width: 30%;
}




#add-item>input{
	width: 80%;
	background-color: #fff;
	padding: 10px ;
	position: relative;
	right : 10px;
	border-radius: 5px;
	border: 0;
}

#add-item>input:hover{
	background: transparent;
	border: 0;
	border-bottom: #fff solid 2px;
	border-radius: 0px;
}

.single-line-border{
	background: transparent;
	border: 0;
	border-bottom: #fff solid 2px;
	border-radius: 0px;
}

.add-button{
	position: relative;
	left : 10px;
	padding: 10px 20px;
	background-color: #fff;
}

.item-container{
	/* background-color: lightgreen; */
	display: flex;
	width: 100%;
	justify-content: space-between;
	padding: 10px 30px;
	border: #545454 1px solid;
	margin: 5px 0 5px 0;
}

.delete-button{
	/* background-color:lightsteelblue; */
	margin: 0 0 0 30px;
}