*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: 'Roboto Mono', monospace;
}

main{
	width: 100vw;
	height: 100vh;
	/* background-color: lightpink; */
	display: flex;
	justify-content: center;
	align-items: center;
}

.container
{
	width: 80%;
	height: 70%;
	border-radius: 10px;
	display: flex;
	align-items: center;
	color: #4f4f4f ;
	/* background-color: lightcoral; */
	flex-direction: column;
}

#top-heading{
	font-size: 50px;
}

.players-section{
	/* background-color: lightskyblue; */
	width: 90%;
	height: 70%;
	display: flex;
}

.left,.right{
	/* background-color: lightgreen; */
	width: 50%;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.player-heading{
	/* background-color: lightslategray; */
	font-size: 30px;
	padding: 20px;
}

#result{
	height: 30%;
	font-size: 40px;
}

#play-button{
	padding: 10px 40px;
	background-color: #4f4f4f;
	border: 1px #4f4f4f solid;
	color: whitesmoke;
	margin-bottom: 40px;
}

#play-button:hover{
	background-color: white;
	color: #4f4f4f;
	border: 2px solid #4f4f4f;
}


@media only screen and (max-width: 600px) 
{	
	*{
		text-align: center;
	}
	.players-section{
		flex-direction: column;
	}
	.left,.right{
		width: 100%;
		display: flex;
		align-items: center;
		flex-direction: column;
	}

	#play-button{
		position: relative;
		top: 200px;
	}

	#result{
		position: relative;
		top: 200px;
		text-align: center;
	}
	#top-heading{
		position: relative;
		bottom: 30px;
	}
}